mixin koodi
  span(ng-bind="vaatimus.vaatimus | kaanna")
  =" ("
  a(ng-show="vaatimus.koodi", ng-href="https://virkailija.testiopintopolku.fi/koodisto-ui/html/koodi/{{ vaatimus.koodi.uri }}/{{ vaatimus.koodi.versio }}")
    b(ng-bind="vaatimus.koodi.arvo")
  b(ng-hide="vaatimus.koodi", ng-bind="'koodi-puuttuu' | kaanna")
  =")"


mixin vaatimus
  span(ng-bind="(vaatimus.koodi ? vaatimus.koodi.nimi : vaatimus.vaatimus) | kaanna")


mixin vaatimusEdit
  .vaatimus
    .input-group
      .input-group-addon.handle
        span(icon-role="sort")
      input.form-control(ng-if="!vaatimus.koodi", ng-model="vaatimus.vaatimus", slocalized, ng-model-options="{ debounce: 300 }", ng-keyup="tarkistaKoodistosta(vaatimus)")
      span.form-control(ng-if="vaatimus.koodi", ng-disabled="true") {{vaatimus.vaatimus | kaanna}} ({{vaatimus.koodi.arvo}})
      .input-group-btn
        ohje(ng-if="vaatimus.koodivastaavuus",style="padding-left: 20px",teksti="ammattitaitovaatimus-koodisto-puute")
        button.btn.btn-link(ng-if="vaatimus.koodivastaavuus", ng-click="kaytaKoodistosta(vaatimus)", ng-bind="'kayta-koodistosta' | kaanna", style="margin-right: 20px")
        koodisto-select(
          tyyppi="ammattitaitovaatimukset",
          valmis="koodiSelector",
          payload="vaatimus",
          nimifilter="vaatimus.vaatimus")
        button.btn.btn-link(
          ng-click="poistaVaatimus(vaatimus, kohdealue)",
          ng-bind="'poista-kohdealue' | kaanna")
        span(ng-show="vaatimus.haku", style="padding-left: 4px")
          small-spinner
        span(ng-if="!vaatimus.haku", style="padding-left: 27px")


div.ammattitaitovaatimukset-2019(ng-show="!loading" ng-cloak)
  div(ng-if="!editEnabled")
    .ammattitaitovaatimukset
      div(ng-bind="ammattitaitovaatimukset.kohde | kaanna")
      ul.vaatimukset
        li.rivi(ng-repeat="vaatimus in ammattitaitovaatimukset.vaatimukset")
          +koodi
      div.kohdealueet(ng-repeat="kohdealue in ammattitaitovaatimukset.kohdealueet")
        div(ng-bind="kohdealue.kuvaus | kaanna")
        span(ng-bind="ammattitaitovaatimukset.kohde | kaanna")
        ul
          li.rivi(ng-repeat="vaatimus in kohdealue.vaatimukset")
            +koodi

  div(ng-if="editEnabled")
    div.ammattitaitovaatimukset
      div
        .kohde
          input.form-control(ng-model="ammattitaitovaatimukset.kohde", slocalized)
        .kohdealueettomat
          .vaatimus(ng-model="ammattitaitovaatimukset.vaatimukset", ui-sortable="sortableOptionsAmmattitaitovaatimukset")
            div(ng-repeat="vaatimus in ammattitaitovaatimukset.vaatimukset")
              +vaatimusEdit
          button.btn.btn-link(
            ng-click="addVaatimus()",
            ng-bind="'lisaa-vaatimus-ilman-kohdealuetta' | kaanna")

        .kohdealueet
          h2(ng-bind="'ammattitaito-kohdealueet' | kaanna")
          div(ng-model="ammattitaitovaatimukset.kohdealueet", ui-sortable="sortableOptionsKohdealue")
            .kohdealue(ng-repeat="kohdealue in ammattitaitovaatimukset.kohdealueet")
              .panel.panel-info
                .panel-heading
                  .input-group
                    .input-group-addon.handle
                      span(icon-role="sort")
                    input.form-control(ng-model="kohdealue.kuvaus", slocalized)
                    .input-group-btn
                      button.btn.btn-link(
                        ng-click="poistaKohdealue(kohdealue)",
                        ng-bind="'poista-kohdealue' | kaanna")
                .panel-body
                  div(ng-model="kohdealue.vaatimukset", ui-sortable="sortableOptionsAmmattitaitovaatimukset")
                    .vaatimus(ng-repeat="vaatimus in kohdealue.vaatimukset")
                      +vaatimusEdit
                  button.btn.btn-link(
                    ng-click="addVaatimus(kohdealue)",
                    ng-bind="'lisaa-vaatimus' | kaanna")
          .actions
            button.btn.btn-link(
              ng-click="addKohdealue()",
              ng-bind="'lisaa-kohdealue' | kaanna")

