

div.tekstihaku
  input.form-control(
    ng-model="query.teksti"
    ng-change="search(query)")

  div(ng-if="results.data")
    div
      span(kaanna="'loydettiin-hakutulosta'")
      =": "
      span(ng-bind="results['kokonaismäärä']")
    div(ng-repeat="entry in results.data")
      div.murut
        span.muru(ng-show="entry.perusteprojekti.nimi")
          span(kaanna="entry.perusteprojekti.nimi")
        span.muru(ng-show="entry.peruste.nimi")
          span(kaanna="entry.peruste.nimi")
          =" ("
          span(kaanna="entry.peruste.diaarinumero")
          =")"
        span.muru(ng-show="entry.pov && entry.pov.perusteenOsa")
          span(kaanna="entry.pov.perusteenOsa.nimi")
        span.muru(ng-show="entry.pov && entry.tov.tutkinnonOsa")
          span(kaanna="entry.tov.tutkinnonOsa.nimi")
        //- div(ng-bind-html="entry.teksti")
      div.hakutulokset
        div.hakutulos(ng-repeat="tulos in entry.$$tekstit")
          p(ng-bind-html="tulos")
      hr

    ep-pagination(ng-model="results.sivu"
                  ng-change="updatePage"
                  total-items="results['kokonaismäärä']"
                  items-per-page="results.sivukoko")
